# --- Compilazione e Package ---
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# --- Specifici per IntelliJ IDEA ---
# Escludiamo la cartella .idea che contiene le impostazioni locali dell'utente
.idea/
*.iml
*.ipr
*.iws
# Se usi il plugin JRebel
out/

# --- Specifici per Eclipse ---
# Escludiamo i file di progetto e le impostazioni di Eclipse
.settings/
.project
.classpath
.factorypath

# --- Build Tools (Maven/Gradle) ---
# Fondamentale per non caricare i file generati durante la build
target/
bin/
build/
.gradle/
.idea\

# --- Workflow e File Temporanei ---
lazygit.exe
github_workflow.sh
github_workflow.bat
2026-HOMEWORKA-582304-610976.iml
.mtj.tmp/
*.ctxt
.DS_Store